---
---

@charset "UTF-8";

// Import the variables
@import "sass/utilities/initial-variables.sass";

$custom-colors: (
  "purple": ($purple),
  "orange": ($orange),
  "pink": (hsl(324, 79.2%, 60.4%))
);

// bulma scss
@import "bulma";

.navbar,
.level {
  background-color: $light
}

$table-head-background-color: $dark;
