<!DOCTYPE html>
<html lang="{{default: "en-US"}}">
	<!-- head -->
	{% include head.html %}

	<body class="site">
		<!-- header -->
		{% include header.html %}

		<!-- default -->
		<div class="jumbotron-fluid" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.jumbo_img }}">
			<div class="container">
				<h1 class="title">{{ site.title }}</h1>
			</div>
		</div>

		<main class="main-content">
			<section class="blog">
				<div class="container">
					<div class="posts">

						{% for post in site.posts %}
							{% include post.html %}
						{% endfor %}

					</div>
				</div>
			</section>
		</main>

		<!-- footer -->
		{% include footer.html %}
	</body>
</html>
