<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
	<body class="site">
		<!-- header -->
		{% include header.html %}

		<!-- image -->
		{% if page.featured-img %}
		<div class="jumbo" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{ page.featured-img }}.jpg">
			<!-- wip -->
		{% else %}
			<!-- wip -->
		{% endif %}
			<!-- wip -->
		</div>

		<!-- article -->
		<main class="main-content">
			<div class="container">
				<article class="article-content" itemprop="articleBody">
					<!-- wip -->
				</article>
				<!-- wip -->
			</div>
		</main>

		<!-- footer -->
		{% include footer.html %}
	</body>
</html>
