---
layout: default
---
{% assign _color = 'primary,link,info,success,warning,danger,purple,pink,orange,black' | split: ',' %}
<div class="tile is-parent is-9">
  <div class="tile is-child is-12">
    <div class="box">
      <div class="hero">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              {{ page.title }}
            </h1>
            <h2 class="subtitle">
                by <a href="{{ site.baseurl }}/u/{{ page.author }}">{{ page.author }}</a> | {{ page.date | date_to_string: site.lang }} | {% for _tag in page.tags %}<a class="tag my-2 is-{{ _color | sample }}" href="{{ site.baseurl }}/t/{{ _tag }}">{{ _tag }}</a> {% endfor %}
            </h2>
            <img width="100%" src="{{ site.baseurl }}{{ page.img }}" alt="{{ page.alt }}">
          </div>
        </div>
      </div>
      <div class="px-5 pb-5 has-text-justified">
        {{ content }}
      </div>
    </div>
  </div>
</div>
